@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);
/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*********************
TRANSITION
*********************/
/* .transition(all,2s); */
.t1 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/*********************
BUTTON
*********************/
.button {
  background: #dd6666;
  color: #ffffff;
}
.button:hover {
  color: #eeeeee;
}
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
  text-align: center;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* LAYOUT STYLES */
.container {
  margin: 0 auto;
}
/* LINKS */
a,
a:visited {
  color: #dd6666;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #dd6666;
}
a:link,
a:visited:link {
  /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/* HEADINGS */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-rendering: optimizelegibility;
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 50px;
  color: #dd6666;
  text-transform: uppercase;
  margin: 0;
}
p,
.p {
  font-size: 18px;
  text-align: left;
}
/* HEADER */
header {
  background: #666666;
  position: relative;
  z-index: 1;
}
header .inner-header {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
header .logo {
  float: left;
  margin-top: 28px;
}
header .logo img {
  float: left;
}
header .logo a h1 {
  font-size: 18px;
  text-align: left;
  float: left;
  text-decoration: none;
  color: #ffffff;
  margin: 2px 0 0 10px;
  text-transform: lowercase;
  font-weight: 400;
}
header .top-menu {
  float: right;
  display: inline-block;
}
.floating {
  position: fixed;
  width: 100%;
  top: 0;
}
/* NAVIGATION */
.anchor {
  padding: 20px;
}
nav.top-menu ul {
  margin: 0;
}
nav.top-menu ul li {
  float: left;
}
nav.top-menu ul li a,
nav.top-menu ul li a:visited {
  color: #ffffff;
  text-decoration: none;
  padding: 30px 30px;
  display: block;
  text-transform: lowercase;
}
nav.top-menu ul li a:hover,
nav.top-menu ul li a:visited:hover,
nav.top-menu ul li a:focus,
nav.top-menu ul li a:visited:focus {
  background: #ffffff;
  color: #666666;
}
.nav-active {
  background: #eeeeee;
}
.more-menu {
  margin-top: 60px;
  display: block;
}
.more-menu p {
  float: left;
  padding-top: 8px;
}
.more-menu ul {
  float: left;
  margin: 0;
  padding-left: 20px;
}
.more-menu ul li {
  float: left;
}
.more-menu ul li a,
.more-menu ul li a:visited {
  color: #666666;
  text-decoration: none;
  display: block;
  text-transform: lowercase;
  border: 1px #dd6666 solid;
  margin: 0 10px;
  padding: 8px 20px;
}
.more-menu ul li a:hover,
.more-menu ul li a:visited:hover,
.more-menu ul li a:focus,
.more-menu ul li a:visited:focus {
  background: #dd6666;
  color: #ffffff;
}
/* SECTIONS */
section {
  padding: 40px 0;
}
section .feature {
  margin-bottom: 40px;
}
.section-alt {
  background: #eeeeee;
}
.inner-section {
  width: 960px;
  padding: 0 10px 80px;
  margin: 0 auto;
}
.inner-section h2 {
  margin-bottom: 40px;
}
.inner-section p {
  margin-bottom: 10px;
  margin: 0 auto;
}
.about {
  background: #dd6666;
  padding-top: 160px;
}
.about h1 {
  color: #ffffff;
  margin-top: 0;
}
/* FOOTER */
footer {
  margin: 80px 0;
}
/* BUTTONS */
.apply-button a,
.apply-button a:visited {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-rendering: optimizelegibility;
  text-align: center;
  width: 100%;
  padding: 40px;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  background: #dd6666;
  color: #ffffff;
  font-size: 30px;
  margin-top: 40px;
}
.apply-button a a,
.apply-button a:visited a {
  text-decoration: none;
}
.apply-button a:hover,
.apply-button a:visited:hover {
  color: #eeeeee;
}
/* EVENTS SECTION */
.event-wrapper {
  margin-top: 40px;
}
.event-block {
  margin-bottom: 40px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.event-block:hover .event-location,
.event-block:hover .event-description,
.event-block:hover .event-time {
  color: #dd6666;
}
.event-block:hover .event-date {
  background: #dd6666;
}
.event-date {
  background: #666666;
  color: #ffffff;
  height: 140px;
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.event-date .event-month {
  text-transform: lowercase;
}
.event-date .event-day {
  font-weight: 700;
  color: #ffffff;
  font-size: 72px;
  margin: 0;
  line-height: 1;
}
.event-details .event-name {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 36px;
  margin: 0;
  text-align: left;
  display: block;
  line-height: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.event-details .event-location {
  float: left;
  display: inline-block;
  font-weight: 700;
  margin-top: 19px;
  color: #666666;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.event-details .event-time {
  float: left;
  display: inline-block;
  margin-top: 19px;
  margin-left: 20px;
  color: #666666;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.event-details .event-description {
  margin-top: 10px;
  *zoom: 1;
  display: block;
  color: #666666;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.startup-grid img {
  opacity: .8;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.startup-grid img:hover {
  opacity: 1;
}
.no-link {
  cursor: default;
}
/* FANCY STYLES */
::-moz-selection {
  background: #dd6666;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #dd6666;
  color: #ffffff;
  text-shadow: none;
}
